openapi: 3.0.3
info:
  title: Agro ERP + Precision API
  version: 1.0.0
servers:
  - url: https://api.tu-dominio.com/api/v1
security:
  - bearerAuth: []
tags:
  - name: Context
  - name: Operations
  - name: Inventory
  - name: Procurement
  - name: Precision
  - name: Telemetry
  - name: Weather
  - name: Analytics
  - name: Security
  - name: Audit

paths:
  /context/campaigns:
    get:
      tags: [Context]
      summary: Listar campañas
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      responses:
        '200':
          $ref: '#/components/responses/ListCampaigns'

  /context/plot-seasons:
    get:
      tags: [Context]
      summary: Listar lote-campaña
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - in: query
          name: campaign_id
          schema: { type: string, format: uuid }
        - in: query
          name: establishment_id
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK

  /operations/work-orders:
    get:
      tags: [Operations]
      summary: Listar órdenes de trabajo
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - in: query
          name: campaign_id
          schema: { type: string, format: uuid }
        - in: query
          name: establishment_id
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema: { type: string }
      responses:
        '200':
          description: OK
    post:
      tags: [Operations]
      summary: Crear orden de trabajo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkOrderCreate'
      responses:
        '201':
          description: Created

  /operations/work-orders/{id}/executions:
    post:
      tags: [Operations]
      summary: Registrar ejecución
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkExecutionCreate'
      responses:
        '201':
          description: Created

  /inventory/movements:
    post:
      tags: [Inventory]
      summary: Registrar movimiento de inventario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryMovementCreate'
      responses:
        '201':
          description: Created

  /procurement/purchase-orders:
    post:
      tags: [Procurement]
      summary: Crear orden de compra
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderCreate'
      responses:
        '201':
          description: Created

  /precision/yield/uploads:
    post:
      tags: [Precision]
      summary: Crear carga de mapa de rendimiento
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YieldUploadCreate'
      responses:
        '201':
          description: Created

  /precision/yield/uploads/{id}/clean:
    post:
      tags: [Precision]
      summary: Lanzar limpieza de rendimiento
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '202':
          description: Accepted

  /precision/prescriptions:
    post:
      tags: [Precision]
      summary: Crear prescripción
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionCreate'
      responses:
        '201':
          description: Created

  /precision/prescriptions/{id}/export:
    post:
      tags: [Precision]
      summary: Exportar prescripción
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [ISOXML, SHP, JD, TRIMBLE, CNH, AGLEADER]
      responses:
        '200':
          description: OK

  /telemetry/events/bulk:
    post:
      tags: [Telemetry]
      summary: Ingesta masiva de telemetría
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryBulkCreate'
      responses:
        '202':
          description: Accepted

  /weather/observations/bulk:
    post:
      tags: [Weather]
      summary: Ingesta masiva de observaciones meteo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeatherBulkCreate'
      responses:
        '202':
          description: Accepted

  /analytics/kpi/plot-seasons:
    get:
      tags: [Analytics]
      summary: KPI por lote-campaña
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - in: query
          name: campaign_id
          schema: { type: string, format: uuid }
        - in: query
          name: establishment_id
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK

  /security/me/permissions:
    get:
      tags: [Security]
      summary: Permisos efectivos del usuario
      responses:
        '200':
          description: OK

  /audit/logs:
    get:
      tags: [Audit]
      summary: Consulta de auditoría
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - in: query
          name: table_name
          schema: { type: string }
        - in: query
          name: actor_user_id
          schema: { type: string, format: uuid }
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: OK

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    TenantHeader:
      in: header
      name: X-Tenant-Id
      required: true
      schema:
        type: string
        format: uuid

  responses:
    ListCampaigns:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
              meta:
                $ref: '#/components/schemas/PageMeta'

  schemas:
    PageMeta:
      type: object
      properties:
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }

    Campaign:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        name: { type: string }
        crop_year_start: { type: string, format: date }
        crop_year_end: { type: string, format: date }

    WorkOrderCreate:
      type: object
      required: [plot_season_id, operation_type, requested_date, planned_area_ha]
      properties:
        plot_season_id: { type: string, format: uuid }
        operation_type: { type: string }
        requested_date: { type: string, format: date }
        planned_area_ha: { type: number }

    WorkExecutionCreate:
      type: object
      required: [executed_at, area_ha]
      properties:
        executed_at: { type: string, format: date-time }
        area_ha: { type: number }
        machine_hours: { type: number }
        labor_hours: { type: number }
        operator_name: { type: string }
        inputs:
          type: array
          items:
            type: object
            required: [input_id, qty, uom_id]
            properties:
              input_id: { type: string, format: uuid }
              qty: { type: number }
              uom_id: { type: string, format: uuid }
        application_condition:
          type: object
          properties:
            wind_speed_kmh: { type: number }
            temperature_c: { type: number }
            relative_humidity: { type: number }
            thermal_inversion_flag: { type: boolean }

    InventoryMovementCreate:
      type: object
      required: [stock_lot_id, movement_type, qty]
      properties:
        stock_lot_id: { type: string, format: uuid }
        movement_type:
          type: string
          enum: [in, out, adjustment, transfer]
        qty: { type: number }
        unit_cost: { type: number }
        ref_doc_type: { type: string }
        ref_doc_id: { type: string, format: uuid }

    PurchaseOrderCreate:
      type: object
      required: [supplier_party_id, po_number, po_date, currency_id, lines]
      properties:
        supplier_party_id: { type: string, format: uuid }
        po_number: { type: string }
        po_date: { type: string, format: date }
        currency_id: { type: string, format: uuid }
        lines:
          type: array
          items:
            type: object
            required: [input_id, qty, uom_id, unit_price]
            properties:
              input_id: { type: string, format: uuid }
              qty: { type: number }
              uom_id: { type: string, format: uuid }
              unit_price: { type: number }

    YieldUploadCreate:
      type: object
      required: [plot_season_id, source_file_uri]
      properties:
        plot_season_id: { type: string, format: uuid }
        source_file_uri: { type: string }

    PrescriptionCreate:
      type: object
      required: [plot_season_id, operation_type, zones]
      properties:
        plot_season_id: { type: string, format: uuid }
        operation_type: { type: string }
        zones:
          type: array
          items:
            type: object
            required: [wkt_geom, target_rate]
            properties:
              wkt_geom: { type: string }
              input_id: { type: string, format: uuid }
              target_rate: { type: number }
              min_rate: { type: number }
              max_rate: { type: number }

    TelemetryBulkCreate:
      type: object
      required: [device_id, events]
      properties:
        device_id: { type: string, format: uuid }
        events:
          type: array
          items:
            type: object
            required: [ts, lon, lat]
            properties:
              ts: { type: string, format: date-time }
              lon: { type: number }
              lat: { type: number }
              speed_kmh: { type: number }
              heading_deg: { type: number }
              fuel_rate_l_h: { type: number }
              overlap_pct: { type: number }

    WeatherBulkCreate:
      type: object
      required: [weather_station_id, observations]
      properties:
        weather_station_id: { type: string, format: uuid }
        observations:
          type: array
          items:
            type: object
            required: [ts]
            properties:
              ts: { type: string, format: date-time }
              temp_c: { type: number }
              rh_pct: { type: number }
              wind_kmh: { type: number }
              rainfall_mm: { type: number }
              solar_rad: { type: number }